#!/bin/sh

export PATH="$PATH:$(du "$HOME/.custom/scripts" | cut -f2 | tr '\n' ':' | sed 's/:*$//')"
export LD_LIBRARY_PATH=~/.custom/lib/

# Default applications
export BROWSER="firefox"
export EDITOR="vim"
export FILE1="vifm"
export FILE2="pcmanfm"
export TERMINAL="st"

# Disable "screen off after some time idel"
xset -dpms
xset s off

# Applications to run
clipmenud &
dunst &
mpd &
sxhkd &
unclutter --ignore-scrolling --jitter 5 &
redshift &

launch_polybar &

# Start graphical server on tty1 if not already running.
#[ "$(tty)" = "/dev/tty1" ] && ! pgrep -x Xorg >/dev/null && exec startx
